body{
margin:0;
background:#111;
font-family:Arial;
text-align:center;
color:white;
}

h1{
margin-top:20px;
}

#field{
width:900px;
height:600px;
margin:auto;
margin-top:20px;
position:relative;
background:linear-gradient(
to bottom,
#2e8b57,
#1b5e20
);
overflow:hidden;
border:5px solid white;
}

#goal{
width:350px;
height:100px;

border:6px solid white;

position:absolute;

top:20px;
left:50%;

transform:translateX(-50%);
}

#keeper{

width:80px;
height:80px;

background:red;

position:absolute;

top:90px;
left:50%;

transform:translateX(-50%);

transition:0.4s;
}

#ball{

width:35px;
height:35px;

border-radius:50%;

background:white;

position:absolute;

bottom:140px;
left:50%;

transform:translateX(-50%);

transition:1s;
}

#player{

width:80px;
height:120px;

background:blue;

position:absolute;

bottom:10px;
left:50%;

transform:translateX(-50%);
}

button{
padding:15px;
margin:10px;
font-size:20px;
cursor:pointer;
}

#result{
font-size:35px;
margin-top:20px;
}
